@import './base.css';
@import 'primevue/resources/primevue.min.css';
@import 'primevue/resources/themes/lara-light-indigo/theme.css';   
@import 'primeicons/primeicons.css';  
@import 'primeflex/primeflex.css';

body{
  background-color: #EEE5DE;
}

span, p, h1, .p-inputtext {
  font-family: 'Outfit';
  color: #191970;
}

h2, h3, ol {
  font-family: 'Over the Rainbow';
  font-style: normal;
  color: rgba(25, 25, 112, 0.8);
}

.img-title {
  max-width: 15rem;
  max-height: 20rem;
  margin: 1rem 0 1rem 0;
}

.p-inputtext:enabled:focus {
  box-shadow: none; 
}

.p-editor-container .p-editor-content .ql-editor ,
.p-inputtext ,
.p-editor-container .p-editor-toolbar.ql-snow {
  font-size: large;
  background-color: rgba(218, 211, 206, 0.80);
}

.p-button{
  background: rgba(179, 162, 179, 0.5);
}

.p-button:hover{
  background: blueviolet;
}